<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>eShop</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
   <div id="root">
      <header>
         <h1 class="title">eShop</h1>
         <search
             v-model="search"
         ></search>
         <div class="actions">
            <custom-button v-on:click="setVisionCard">Корзина</custom-button>
         </div>
      </header>
      <main>
         <div class="goods-list">
            <goods-item
                  v-for="item in filteredItems"
                  v-bind:item="item"
                  @addgood="addGood"
            ></goods-item>
         </div>
      </main>
      <basket-goods v-if="cardIsVision" v-on:closeclick="setVisionCard"></basket-goods>
   </div>
</body>
</html>