*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding:0;
    background: beige;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.container{
    max-width: 1200px;
    margin: auto;
    
}
.header{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
.cart-button{
    font-size: 26px;
    font-weight: 700;
    border: 0;
    background: #0099FF;
    color:#fff;
    width: 180px;
    height: 60px;
}
.goods-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.goods-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 90px;
    width: 380px;
    height: 400px;
}
.goods-heading{
    margin-bottom: 20px;
}